<body xmlns="http://www.w3.org/1999/html">

<header>
    报名
    <div class="header-right header-right-pulldown">

    </div>
    <div class="header-left">
        <a href="/#/activity_list" class="btn-style btn-4">返回</a>
    </div>
    <div class="header-right">
        <a href="receiver-list.html" class="btn-style btn-4">开始</a>

    <!--</div>-->
    <!--<div class="header-pulldown">   &lt;!&ndash;空白行&ndash;&gt;-->
<!---->
    <!--</div>-->

</header>


<footer >
    <ul class='footer-nav footer-nav-2tabs'style=color:#000000>
        <li class='active'>
            <a class='btn-style btn-4' ng-tap='go_sign_up()'>报名</a>
        </li>
        <li>
            <a class='btn-style btn-4' ng-tap='go_bid_list()'>竞价</a>
        </li>
    </ul>
</footer>
