

<header style="color: #ffffff">
    报名
    <div class="header-right header-right-pulldown">

    </div>
    <div class="header-left">
        <a ng-click="fan_hui()" class="btn-style btn-4">返回</a>
    </div>


    <div class="header-right">

        <div ng-switch on="loginData">
            <div class="btn-style btn-4" ng-switch-when="false" ng-click="kai_shi()">开始</div>
            <div class="btn-style btn-4" ng-switch-when="true" ng-click="jie_shu()">结束</div>
        </div>
    </div>

    <!--<a ng-click= class="btn-style btn-4">开始</a>-->

    <!--</div>-->
    <!--<div class="header-pulldown">   &lt;!&ndash;空白行&ndash;&gt;-->
    <!---->
    <!--</div>-->
</header>




        <ul class="list-style-2"style="-webkit-transition: -webkit-transform 0ms; transition: -webkit-transform 0ms; -webkit-transform-origin: 0px 0px; -webkit-transform: translate3d(0px, 0px, 0px);"

       <!--<li ng-repeat="activity in ">-->
                  <h3>{{  }}</h3>
        <!--</li>-->
         </ul>





<footer>
    <ul class='footer-nav footer-nav-2tabs' style=color:#000000>
        <li class='active'>
            <a class='btn-style btn-4' ng-tap='go_sign_up()'>报名</a>
        </li>
        <li>
            <a class='btn-style btn-4' ng-tap='go_bid_list()'>竞价</a>
        </li>
    </ul>
</footer>


