
<header style="color: #ffffff">
    创建活动
    <div class="header-left">
        <a ng-click="fan_hui()" class="btn-style btn-4" ng-show="fanhui">返回</a>
    </div>
</header>
<hr>

<h3  style="color: #000000" class="weizhi">活动名称</h3>

<input type="text" class="weizhi0"ng-model="name" >



<div class="logo-flat" ng-show="show_render">活动名重复</div>

        <button class="button-0 btn-primary" ng-click="create_activity()" ng-disabled="!name"><h4 style="color: #ffffff" >创建</h4></button>
</input>











